body {
  background-color: #fafafa;
  color: #000;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Overpass Mono', sans-serif;
  transition: 0.2s;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

#menu-links a {
  font-family: 'Overpass Mono', sans-serif;
  font-weight: 700;
}

::selection {
  background: #DD2830;
  color: #fff;
}

#menu,.social-thumbnails {
  width: 100%;
	max-width: 1500px;
	padding: 1em;
}

.about-content {
  width: 100%;
  max-width: 900px;
  padding: 0 2em;
  font-weight: 300;
  margin: 0px auto 0px auto;
}


#menu {
  margin: 5vmin auto 6vmin auto;
}

#menu-links {
  margin: auto 0vw 0vmin auto;
  /* text-align: right; */
}

#menu-links a {
  font-size: 4vmin;
  padding: 0 0.2em;
}

#menu hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#top-menu {
  /* height: 5vh; */
  top: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

#top-menu a {
  text-decoration: none;
  font-weight: 700;
}

#top-menu h1 {
  margin: 0;
  font-size: 4vh;
  font-weight: 700;
}

.social-thumbnails {
  text-align: right;
  margin: 2vh auto 2vh auto;
  /* position: sticky;
  bottom: 0; */
}

.social-thumbnails img {
  height: 5vh;
  width: 5vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  opacity: 1;
}

.about-content p {
  font-size: 3.4vh;
  line-height: 2em;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #DD2830;
}

a.active {
  color: #DD2830;
}


/* Responsive Styles */
@media screen and (max-width : 600px){

  #top-menu, #name {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #menu {
    margin: 0px auto 0px auto;
  }

  .social-thumbnails {
    text-align: center;
  }

  #menu-links {
    margin: 0;
    width: 100vw;
    justify-content: space-between;
  }

  .social-thumbnails img {
    height: 9vw;
    width: 9vw;
    margin: 0 2vw;
  }

  #top-menu h1 {
    font-size: 13vw;
    text-align: center;
  }

  #menu-links a {
    font-size: 6vw;
    letter-spacing: 0.4em;
    /* text-align: right; */
  }

  #work-thumbnails img {
    width: 100%;
  }

  .about-content p {
    font-size: 1.1em;
    line-height: 2em;
  }

  /* p {
    font-size: 2vh;
  } */

}
