* {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

/*#map-wrapper {
    width: 70%;
    height: 100%;
    position: relative;
    left: 30%;
}*/

/* default dimensions for the leaflet map */
#subway-map{
  position: fixed;
  width: 100%;
  height: 100%;
}

#side-menu {
  position: fixed;
  /*width: 25%;*/
  height: 100%;
  top: 5%;
  left: 5%;
  overflow: scroll;
  color: #FFF;
  font-family: "Avenir-Next", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

#side-menu h1 {
  position: sticky;
  top: 1%;
  font-style: italic;
  font-weight: 100;
}

#twit-pics {
  display: none;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(59,59,59,0.9);
  text-align: center;
}

/*#subway-map {
  position: absolute;
  top: 0;
  left: 0;
}*/

img {
  width: 300px;
  height: auto;
}

/* buttons for uptown downtown */
button {
  background-color: #000;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
button:active {
  color: #000;
  background-color: #FFF;
  border: solid;
  font-weight: bold;
  text-transform: uppercase;
}
.buttons {
  text-align: center;
}

#uptown {
  background-color: white;
  color: black;
}

table {
  width: 100%;
  text-align: center;
}

.tableTitle {
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
}

.stopi {
  color: red;
}

.stopii {
  color: green;
}

.stopiii {
  color: green;
}

.stopiv {
  color: white;
}

.stopv {
  color: green;
}

#systemDiagram {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 95%;
  font-size: 75%;
}

#systemDiagram a {
  color:RGB(50,50,50);
  font-style: italic;
}
