title #{title}
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="data viz + code + design. currently viz journalist at FiveThirtyEight.")
meta(property="og:image" content=require('../../images/share-image.png'))
meta(property="twitter:image:src" content=require('../../images/share-image.png'))
meta(name="twitter:card" content="summary_large_image")