/* Project Intro Styling */
.project-intro:not(p), #dist-chart-title {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
}

.intro-p {
 padding-left:  10%;
 padding-right: 10%;
}

.project-intro p, #dist-chart-title p {
  font-family: 'Lora', "Times New Roman", serif;
  line-height: 1.25em;
}

.project-intro p, .intro-p p {
  font-size: 16px;
}

.intro-p ol, li {
  font-family: 'Lora', "Times New Roman", serif;
  font-size: 16px;
  margin-left:  10%;
  margin-right: 10%;
}


.project-intro, #dist-chart-title {
  margin-left: 25%;
  margin-right: 25%;
}

.project-intro h1 {
  text-align: center;
  font-size: 85px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #000;
  color: #fff;
  font-weight: bolder;
  padding: 30px;
}

.project-intro h2 {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  font-style: italic;
}

.project-intro h3 {
  font-size: 30px;
}

.project-intro h4 {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
}

.project-intro h5 {
  font-size: 24px;
  margin-left: 5%;
  font-weight: normal;
}

/*.project-intro h6:not(.chart-title) {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 10px;
}*/

.chart-title {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width:800px;
}

.ex-flex {
  display:flex;
  flex-direction:row;
  padding-left:  10%;
  padding-right: 10%;
  width: 90%;
  position: relative;
  left: -5%;
}

.ex-state-p {
  padding-left:  20%;
  padding-right: 20%;
}

.center {
  text-align: center;
}

.quant-expl {
  padding-left:  20%;
  padding-right: 20%;
}

.r-p {
  color: rgb(219,26,0);
  font-weight: bold;
}

.d-p {
  color: rgb(39,80,166);
  font-weight: bold;
}

.ex-gerry-result {
  font-size: 150%;
  line-height: 1.2em;
}

#proportional-state, #pro-dists, #gerry-state, #gerry-dists, #gerry-state-2, #gerry-eff-dists, #gerry-eff-rep-dists, #gerry-eff-dem-dists, .blank-div {
  width: 50%;
}


/* State and District Charts*/
/* State Chart */

/* buttons - affects metric flip and state summary div */
button {
  border:none;
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  font-weight:bold;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.metric-buttons button {
  font-size: 22px;
  border-radius: 10px;
}

.metric-buttons {
  display:flex;
  align-items: column;
}

#eff-button, #seat-button {
  width: 50%;
}

#eff-button:hover, #seat-button:hover, .dropdown-button:hover, .dropdown:hover {
  cursor: pointer;
  background-color: rgb(100,100,100);
  color: #fff;
}

#eff-button {
  background-color: rgb(100,100,100);
  color: #fff;
}

/* axes */
.axis {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  /*font-family: Georgia, Times, "Times New Roman", serif;*/
  position: relative;
  height: 25px;
  left: 15%;
  width: 70%;
  display: flex;
  align-items: column;
  transition-duration: 2s;
}

#seat-tick-1-zero {
  width: 50%;
}

#eff-tick-1-text {
  width: 34%;
}

#eff-tick-1-zero {
  width: 16%;
}

.eff-tick-1, .seat-tick-1 {
  text-align: right;
  line-height: 0.7em;
}

.axis p {
  color: rgb(175,175,175);
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}


/* chart */

.flex-container, .dist-chart {
  display:flex;
  align-items: stretch;
  flex-direction: column;
  align-items: stretch;
  vertical-align: middle;
}

.state-eff {
  display:flex;
  align-items: stretch;
  flex-direction: row;
  align-items: stretch;
  vertical-align: middle;
  transition-delay: 1s;
  transition-duration: 2s;
}

.right-white, .left-white {
  font-size: 13px;
}

.state-eff, .state-eff p, .left-white, .left-blue, .right-red, .right-white {
  height: 18px;
}

.left-white, .right-white {
  background-color: #fff;
}

.left-blue {
  background-color: rgb(39,80,166);
}

.left-blue:hover {
  background-color: rgba(39,80,166,0.5);
  cursor: pointer;
}

.right-red {
  background-color: rgb(219,26,0);
}

.right-red:hover {
  background-color: rgba(219,26,0,0.5);
  cursor: pointer;
}

.state-eff p {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  font-weight: bold;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}

.left-white {
  text-align:right;
}

.line-div {
  position: relative;
  background-color: rgba(200,200,200,0.5);
  width: 5px;
  transition-duration: 2s;
}

#line-div-1 {
  left: 30%;
}

#line-div-2 {
  left: 70%;
}

#eff-gap-chart {
  position: relative;
}

.tooltip {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  text-align: center;
  height: 500px;
  width: 26%;
  position: absolute;
  top: 75px;
  left: 10%;
  display: none;
}

/* District Chart */

.dropdown, .dropdown-button {
  font-size: 30px;
  border-radius: 10px;
}

.state-summ p {
  font-size: 24px;
}

/* State Summary Div */

.state-summ {
  padding-left:  20%;
  padding-right: 20%;
  text-align: center;
}

.dropdown-button {
  border:none;
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  font-size: 26px;
  font-weight:bold;
  background-color: #f9f9f9;
}

#dropdown-content {
  display: none;
  background-color: #f9f9f9;
  position: absolute;
  max-height: 300px;
  overflow: scroll;
}

.dropdown:hover #dropdown-content {
    display: block;
    cursor: pointer;
}

#dist-legend {
  margin-top: -70px;
  position: relative;
  border-radius: 25px;
  background-color: rgb(230,230,230);
  height: 100px;
  width: 300px;
  left: 100%;
  top: 160px;
}

#dist-legend p {
  font-family: 'Lora', "Times New Roman", serif;
  text-align: center;
  font-size: 12px;
  padding: 6%;
  color: rgb(150,150,150);
}

/* District Chart */

.dist-div {
  display:flex;
  align-items: stretch;
  height:40px;
  background-color: #fff;
  flex-direction: row;
  align-items: stretch;
  vertical-align: middle;
}

.dist-label {
  background-color: #fff;
  width: 5%;
}

.dist-margin {
  width: 5%;
}

.dist-label p {
  font-family:  'Avenir Next', 'Lato Bold', sans-serif !important;
  font-weight: bold;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: middle;
  text-align: center;
  height: 40px;
}

.r-vote-under, .r-vote-over, .d-vote-under, .d-vote-over, .o-vote-over {
  width: 14px;
  height:14px;
  margin-right: 2px;
}

.r-vote-under {
  background-color: rgba(219,26,0,0.5);
}

.r-vote-over {
  background-color: rgb(219,26,0);
}

.d-vote-under {
  background-color: rgba(39,80,166,0.5);
}

.d-vote-over {
  background-color: rgb(39,80,166);
}

.o-vote-over {
  background-color: rgb(200,200,200);
}
